<!--navbar-->
<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container">
        <a class="navbar-brand" href="#">My_Portfolio</a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-control="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav" id="navlink">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work">work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>
  </header>
  <!--navbar-end-->

  <main class="container">
  <!--About-->
      <section class="row" id="#home">
        <div class="col-md-12">
           <div class="name">
              <h1 class="h1-5">Hi, <br>I'am <span class="text-primary">Devadharshini<br>Web Developer</span></h1><br>
              <button type="button" class="btn btn-primary" id="resume" href="DEVADHARSHINI S K.pdf" download="Devadharshini.pdf">Download CV</button>
            <div class="col-lg-12 ">
               <a href="https://github.com/DevadharshiniSK" class="social-icon col-12"><i class='bx bxl-github '></i></a>
               <a href="www.linkedin.com/in/devadharshinisk43" class="social-icon col-12"><i class='bx bxl-linkedin '></i></a>
               <a href="https://twitter.com/DevadharshiniSK" class="social-icon col-12"><i class='bx bxl-twitter'></i></a>
           </div>
           </div>
        </div>
        <div class="col-md-12">
          <img src="assets/undraw.svg" class="rounded float-end" id="home_img" alt="">
        </div>
      </section>
  
  <!--About-->
  <br>
  <div class="about" id="#about">
    <div class="title text-center">
      <h2 class="text-primary">About</h2>
    </div>
      
        <div class="row">
          <div class="col-md-4">
                <img class="img-fluid" src="assets/profile.jpeg" alt="">
          </div>
          <div class="col-md-8">
           <h2 class="h3">Hi there!👋🏻</h2>
           <h2 class="h3">I'am Deva,</h2>
          <p class="text">A Passionate Front End Web Developer and
             longing to learn more new web related Stuffs. Interested to gain knowledge and
             experience in design and developing a
             website to built a responsive webpage.
           </p>
          </div>
        </div>
      </div>

      <!--Skills-->
      <br>
       <div class="skills" id="#skills">
         <div class="title text-center">
            <h2 class="text-primary">Skills</h2>
         </div>
     
         <div class="row">
          <div class="col-md-8">
            <h4 class="h4">Professional Skills</h4>
            <div class="row p-4">
              <div class="card  border-dark  bg-transparent mb-3">
                  <i class='bx bxl-html5 skills__icon'></i>
                  <span class="card-body">HTML5</span>
              </div>
         
          
              <div class="card  border-dark  bg-transparent mb-3">
                  <i class='bx bxl-css3 skills__icon'></i>
                  <span class="card-body">CSS3</span>
              </div>
          
          
              <div class="card  border-dark  bg-transparent mb-3">
                  <i class='bx bxl-javascript skills__icon' ></i>
                  <span class="card-body">JAVASCRIPT</span>
              </div>
            </div>
          
      </div>
      
      <div class="col-md-4">              
          <img src="assets/skills.jpeg" alt="" class="skills__img">
      </div>
       </div>
       </div>
  
       <!--works-->
       <br>
       <div class="work" id="#work">
         <div class="title text-center">
            <h2 class="text-primary">Skills</h2>
         </div>
       
         <div class="container-lg">
         <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
          <a href="https://golden-phoenix-b14e5a.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work1.PNG" alt="">
          </a>
          </div>
          <div class="col">
          <a href="https://creative-pixie-3f177a.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work2.PNG" alt="">
          </a>
        </div>
        <div class="col">
          <a href="https://wonderful-pavlova-d570b6.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work3.PNG" alt="">
          </a>
        </div>
        <div class="col">
          <a href="https://chipper-cuchufli-ca0548.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work4.PNG" alt="">
          </a>
        </div>
        <div class="col">
          <a href="https://hilarious-liger-5c47b5.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work5.PNG" alt="">
          </a>
        </div>
        <div class="col">
          <a href="https://candid-dolphin-91cc26.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work6.PNG" alt="">
          </a>
        </div>
        <div class="col">
          <a href="spotknack-chartjs.netlify.app" class="work__img">
              <img class="img-fluid" src="assets/work7.PNG" alt="">
          </a>
          </div>
        
      </div>
         </div>
         </div>

         <!--Contact-->
         <div class="contact" id="#contact">
          <div class="title text-center">
             <h2 class="text-primary">Contact</h2>
          </div>
          <div class="container center_div">

          <form action="/" method="post">
            <div class="row col-md-6 col-md-offset-3 d-flex justify-content-center">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="YOUR NAME">
            </div>
            <div class="form-group ">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="YOUR EMAIL">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
            <div class="form-group ">
              <button class="btn btn-primary">SEND MESSAGE</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </main>
      <!--Footer-->
      <footer class="text-center text-white" style="background-color: #45637d;">
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Iframe -->
          <section class="">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6">
                  <h3 class="title">Devadharshini S K</h3>
                  <h5>Frontend Developer</h5>
                  <div class="footer__social">
                      <a href="https://github.com/DevadharshiniSK" class="footer__icon" style="color: white;"><i class='bx bxl-github'></i></a>
                      <a href="www.linkedin.com/in/devadharshinisk43" class="footer__icon" style="color: white;"><i class='bx bxl-linkedin'></i></a>
                      <a href="https://twitter.com/DevadharshiniSK" class="footer__icon" style="color: white;"><i class='bx bxl-twitter'></i></a>
                  </div>
                </div>
            </div>
          </section>
          <!-- Section: Iframe -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © Deva All rigths reserved
        </div>
        <!-- Copyright -->
      </footer>

  
